<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANdIR8OkN95K13NxC2haQ6YOS_OUgxR6Y</string>
	<key>GCM_SENDER_ID</key>
	<string>214241196372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crudapp</string>
	<key>PROJECT_ID</key>
	<string>crudapp-c9397</string>
	<key>STORAGE_BUCKET</key>
	<string>crudapp-c9397.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214241196372:ios:802a016264a7e4288630c1</string>
</dict>
</plist>